<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\LoginAsCustomerAssistance\ViewModel\ShoppingAssistanceViewModel">
        <plugin name="Orba_MicroFeatures::LoginAsCustomer_CustomizeFrontendCheckboxRendering"
                type="Orba\MicroFeatures\Plugin\LoginAsCustomer\CustomizeFrontendCheckboxRendering"/>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="orba_micro_features_config_provider" xsi:type="object">Orba\MicroFeatures\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare">
        <plugin name="Orba_MicroFeatures::ProductCompare_CustomizeButtonRenderingOnProductList"
                type="Orba\MicroFeatures\Plugin\ProductCompare\CustomizeButtonRenderingOnProductList"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\AddTo\Compare">
        <plugin name="Orba_MicroFeatures::ProductCompare_CustomizeButtonRenderingOnProductView"
                type="Orba\MicroFeatures\Plugin\ProductCompare\CustomizeButtonRenderingOnProductView"/>
    </type>
    <type name="Magento\Framework\View\Element\Template">
        <plugin name="Orba_MicroFeatures::ProductCompare_CustomizeSidebarRendering"
                type="Orba\MicroFeatures\Plugin\ProductCompare\CustomizeSidebarRendering"/>
    </type>
    <type name="Magento\Catalog\Helper\Product\Compare">
        <plugin name="Orba_MicroFeatures::ProductCompare_CustomizeHelper"
                type="Orba\MicroFeatures\Plugin\ProductCompare\CustomizeHelper"/>
    </type>
</config>
